@{
    ViewData["Title"] = "Home Page";
}
<body id ="HomepageBody">
<img src="" alt="">
<div class="text-center">
    <h1 class="display-4">MultiGame</h1>
</div>
<br>
<div class = "text-center font-weight-bold">
    <ul>
    <h5>This website is for gamers to meet other gamers!</h5>
    <br>
    <p>Create your Player</p>
    <br>
    <p>Create your Stats</p>
    <br>
    <p>Finally Create a post to find other players to play with or simply comment under one</p>
    </ul>
</div>
</body>
